* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    color: aquamarine;
    font-size: 20px;
    font-weight: 800;
}

nav li a[href="#"] {
    color: rgba(127, 255, 212, 0.568);
}

nav li a:hover {
    color: rgba(127, 255, 212, 0.568);
}

h1 {
    text-align: center;
    margin-top: 15px;
}

h3 {
    margin: 0 10px;
}

p {
    margin: 0 10px;
}